html {
    height: 100vh;
}

body {
    text-align: center;
    color: #bbb;
}

.board-container{
    height: 300px;
}

table {
    margin: 100px auto;
    border: 1px solid lightgray;
}

.cell {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
}